.user-card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    background: var(--card-bg);
    color: var(--text-color);

    h3,
    p {
        margin: 0;
    }

    h3 {
        margin-bottom: 5px;
    }

    .title-card {
        border-bottom: 1px solid var(--border-color);
        padding: 10px;
        background-color: var(--row-alt-bg);

        h3 {
            margin: 0;
        }
    }

    .content-card {
        padding: 10px;
    }
}