.background-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000b5;
    left: 0;
    top: 0;

    .loader {
        width: 50px;
        aspect-ratio: 1;
        display: grid;
        color: #fff;
        background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
        border-radius: 50%;
        animation: l19 2s infinite linear;

        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;

        &::before, &::after {
            content: "";
            grid-area: 1/1;
            background:
              linear-gradient(currentColor 0 0) center,
              linear-gradient(currentColor 0 0) center;
            background-size: 100% 10px,10px 100%;
            background-repeat: no-repeat;
        }

        &::after {
            transform: rotate(45deg);
        }
    }
}
  
@keyframes l19 { 100%{transform: rotate(1turn)} }