.footer {
    width: 100%;
    height: 50px;
    background: var(--header-bg);
    margin-top: 20px;

    .content-footer {
        display: flex;
        justify-content: space-between;
        color: var(--text-inverse);
        align-items: center;
        height: 50px;
    }
}